<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv-"X-UA-Compatible" content="ie=edge"/>
        <title>About</title>
        <link rel="stylesheet" href="static/main.css"/>
    </head>

    <body>
        <h1 id="top">Exploratory Data Analysis</h1>
        <a href="index.html">Homepage</a>
        <br>
        <br>
        <div class="outer">
            <div class="inner"></div>
        </div>
        <div>
            <h3 class="data_summary">Data Summary</h3>
        </div>
        <p>some text here</p>
        <div>
            <h3 class="data_quantity">Missing Value Analysis</h3>
        </div>
        <p>some text here</p>
        <div>
            <h3 class="data_quality">Outliers Analysis</h3>
        </div>
        <p>some text here</p>
        <br>
        <a href="">Back to Top</a>
    </body>
</html>