<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv-"X-UA-Compatible" content="ie=edge"/>
        <title>Document</title>
        <link rel="stylesheet" href="static/main.css"/>
    </head>

    <body>
        <h1 id="top">Top of the Page</h1>
        <a href="about.html">About</a>
        <h3>Time Series Forecasting Analytics Dashboard</h3>
        <br>
    <img src="static/img/icon.png" width="120" height="120" alt="Icon for Time Series Forecasting"/>
        <a href="https://www.kaggle.com/c/web-traffic-time-series-forecasting/discussion/37763">Source: Kaggle Web Traffic Forecasting</a>
        <br>
        <textarea name="description" id="description" cols="50" rows="5"></textarea>
        <br>
        <p>Please select the interest website for analysis:</p>
        <input type="checkbox" value="Web_1" id="features">Web_1
        <input type="checkbox" value="Web_2" id="features">Web_2
        <input type="checkbox" value="Web_3" id="features">Web_3
        <input type="checkbox" value="Web_4" id="features">Web_4
        <br>
        <select name="website" id="">
            <option value="Web_1">Web_1</option>
            <option value="Web_2">Web_2</option>
            <option value="Web_3">Web_3</option>
            <option value="Web_4">Web_4</option>
        </select>
        <br>
        <form action="" method="">
            <label for="userid"><strong>Username</strong></label>
            <input type="text" name="userid" id="userid", placeholder="Username / Email">
            <br>
            <label for="password"><strong>Password</strong></label>
            <input type="password" placeholder="Password">
            <br>
            <input type="submit">
        </form>
        <p>some text here</p>
        <a href="">Back to Top</a>
    </body>
</html>